<div class="about-brand-wrapper" summary="about page" ng-controller="aboutCtrl" smooth-Directive scrollbottom-Directive>

            <div class="about-brand-content">

              <div ng-if="aboutVideoPresent" class="about-brand-video">
                <div  ng-if="isRootMobileDevice"  class="about-video-poster" style="background-image: url('{{aboutThumbnail}}')"></div>
                <div ng-if="isRootMobileDevice" ng-click="aboutOpenVideo()"  class="about-video-play-button">

                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 19.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="-229 31 500 500" style="enable-background:new -229 31 500 500;" xml:space="preserve">
                    <path id="path-1" class="st0" d="M-22,347V202.9L106,275" fill="{{playButtonColor}}"/>
                    <path class="st0" d="M-14,234" fill="{{playButtonColor}}"/>
                    </svg>

                </div>

              <video id="videocoverHeight" id="{{VideoPlayerId}}" class="video-js vjs-default-skin" data-setup='{ "controls": true, "autoplay": false, "preload": "auto" }'  width="100%" height="100%" poster='images/blank.jpg'>
                  <source src="{{aboutVideo}}"/>
              </video>
              </div>

              <div class="about-brand-text">
                <!-- <h1>ABOUT THE BRAND</h1> -->
                <p>{{data[1].text}}</p>
              </div>
            </div>

            <!-- <div class="about-designer-link">
              <a class="navEntry" href="about/{{data[0].section}}"><p>discover the {{data[0].section}}</p></a>
            </div> -->

</div>
